<h1>Listorical</h1>

{{!-- This is the home view state - rows of titles of available lists. IRL the model would format the data coming back from db, but here it uses the sample info from the route --}}

{{#each model as |list|}}
  <p>{{list.title}}</p>
{{/each}}


{{outlet}}
